<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    
<body>

    <!-- <%- include('partials/menu.ejs') %> -->
    

    <form method="post" class="form">

        <h1>Formulario</h1>

        <div class="form__grupo">
            <label for="nombre" class="form__label">Nombre</label>
            <input type="text" class="form__input" id="nombre" name="nombre">
        </div>

        <div class="form__grupo">
            <label for="telefono" class="form__label">Telefono</label>
            <input type="text" class="form__input" id="telefono" name="telefono">
        </div>

        <div class="form__grupo">
            <label for="dni" class="form__label">DNI</label>
            <input type="text" class="form__input" id="dni" name="dni">
        </div>

        <div class="form__grupo">
            <label for="especialidad" class="form__label">Especialidad</label>
            <input type="text" class="form__input" id="especialidad" name="especialidad" value="<%= especialidad %>">
        </div>

        <div class="form__grupo">
            <label for="" class="form__label">Doctor</label>
            <input type="text" class="form__input" id="doctor" name="doctor" value="<%= doctor %>">
        </div>

        <div class="form__grupo">
            <label for="" class="form__label">Fecha</label>
            <input type="text" class="form__input" id="fecha" name="fecha" value="<%= fecha %>">
        </div>
        <button type="submit" class="form__button">Registrar</button>
    </form>

</body>
</html>